<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <!-- Mod settings -->
  <FreeWillSettingsCategory>Free Will Settings</FreeWillSettingsCategory>
  <FreeWillWorkTypeAdjustment>Global adjustment to</FreeWillWorkTypeAdjustment>
  <FreeWillWorkTypeAdjustments>You can make global adjustments to the work priorities here. Except in rare cases, the adjustments will be made after all other calculations are performed. This will show in the work calculation as "{0}".</FreeWillWorkTypeAdjustments>
  <FreeWillDefaultSliderButtonLabel>Default</FreeWillDefaultSliderButtonLabel>
  <FreeWillResetGlobalSlidersButtonLabel>Reset global sliders</FreeWillResetGlobalSlidersButtonLabel>
  <FreeWillResetGlobalSlidersLabel>Reset all global overrides to zero</FreeWillResetGlobalSlidersLabel>

  <!-- Mod ITab -->
  <FreeWillITab>Free will</FreeWillITab>
  <FreeWillITabCheckbox>Free will</FreeWillITabCheckbox>
  <FreeWillITabWorkScheduleSlave>{0} is currently enslaved and must always be given their work tasks.</FreeWillITabWorkScheduleSlave>
  <FreeWillITabWorkScheduleCanChange>Allows {0} to choose their own work tasks. This might affect their mood if it goes against their ideology.</FreeWillITabWorkScheduleCanChange>
  <FreeWillITabWorkScheduleProhibited>{0} subscribes to an ideology that prohibits telling others what to do. {1} will always choose their own work tasks.</FreeWillITabWorkScheduleProhibited>
  <FreeWillITabWorkScheduleMandatory>{0} subscribes to an ideology that enforces adherence to a strict work schedule. {1} must always be given their work tasks.</FreeWillITabWorkScheduleMandatory>
  <FreeWillWorkPreference>Work preference</FreeWillWorkPreference>
  <FreeWillWorkAssignment>Work assignment</FreeWillWorkAssignment>

  <!-- Considerations-->
  <FreeWillConsiderMovementSpeed>Consider movement speed</FreeWillConsiderMovementSpeed>
  <FreeWillConsiderMovementSpeedLong>Colonists perfer work that suits their movement speed.</FreeWillConsiderMovementSpeedLong>
  <FreeWillConsiderPassions>Consider colonist passions</FreeWillConsiderPassions>
  <FreeWillConsiderPassionsLong>Colonists perfer work they are passionate about.</FreeWillConsiderPassionsLong>
  <FreeWillConsiderBeauty>Consider area beauty</FreeWillConsiderBeauty>
  <FreeWillConsiderBeautyLong>Colonists perfer having a beautiful area around them.</FreeWillConsiderBeautyLong>
  <FreeWillConsiderBestAtDoing>Consider best at doing</FreeWillConsiderBestAtDoing>
  <FreeWillConsiderBestAtDoingLong>Colonists perfer work when they are the best in the colony at doing it.</FreeWillConsiderBestAtDoingLong>
  <FreeWillConsiderFoodPoisoning>Consider food poisoning</FreeWillConsiderFoodPoisoning>
  <FreeWillConsiderFoodPoisoningLong>Colonists will clean more and cook less when a cooking area has a food poisoning risk.</FreeWillConsiderFoodPoisoningLong>
  <FreeWillConsiderLowFood>Consider low food</FreeWillConsiderLowFood>
  <FreeWillConsiderLowFoodLong>Colonists will hunt, farm, haul, and cook more if food is low.</FreeWillConsiderLowFoodLong>
  <FreeWillConsiderWeaponRange>Consider weapon range</FreeWillConsiderWeaponRange>
  <FreeWillConsiderWeaponRangeLong>Colonists will not want to hunt if their weapon does not have adequate range.</FreeWillConsiderWeaponRangeLong>
  <FreeWillConsiderOwnRoom>Consider own room</FreeWillConsiderOwnRoom>
  <FreeWillConsiderOwnRoomLong>Colonists will clean more when in their own room.</FreeWillConsiderOwnRoomLong>
  <FreeWillConsiderBrawlersNotHunting>Consider brawlers for not hunting</FreeWillConsiderBrawlersNotHunting>
  <FreeWillConsiderBrawlersNotHuntingLong>Colonists will not hunt if they have the brawler trait.</FreeWillConsiderBrawlersNotHuntingLong>
  <FreeWillConsiderHasHuntingWeapon>Consider has hunting weapon</FreeWillConsiderHasHuntingWeapon>
  <FreeWillConsiderHasHuntingWeaponLong>Colonists will not hunt if they don't have a hunting weapon.</FreeWillConsiderHasHuntingWeaponLong>
  <FreeWillConsiderPlantsBlighted>Consider plants blighted</FreeWillConsiderPlantsBlighted>
  <FreeWillConsiderPlantsBlightedLong>Colonists will actively cut blighted plants.</FreeWillConsiderPlantsBlightedLong>
  <FreeWillConsiderGauranlenPruning>Consider pruning Gauranlen tree</FreeWillConsiderGauranlenPruning>
  <FreeWillConsiderGauranlenPruningLong>Colonists will prefer to keep their connected tree pruned.</FreeWillConsiderGauranlenPruningLong>

  <!-- Priority strings -->
  <FreeWillPriorityGlobalDefault>base priority</FreeWillPriorityGlobalDefault>
  <FreeWillPriorityError>error</FreeWillPriorityError>
  <FreeWillPriorityEnabled>enabled</FreeWillPriorityEnabled>
  <FreeWillPriorityDisabled>disabled</FreeWillPriorityDisabled>
  <FreeWillPriorityPermanentlyDisabled>permanently disabled</FreeWillPriorityPermanentlyDisabled>
  <FreeWillPriorityFirefightingDefault>firefighting default</FreeWillPriorityFirefightingDefault>
  <FreeWillPriorityPatientDefault>patient default</FreeWillPriorityPatientDefault>
  <FreeWillPriorityBedrestDefault>bedrest default</FreeWillPriorityBedrestDefault>
  <FreeWillPriorityBasicWorkDefault>basic work default</FreeWillPriorityBasicWorkDefault>
  <FreeWillPriorityHaulingDefault>hauling default</FreeWillPriorityHaulingDefault>
  <FreeWillPriorityUrgentHaulingDefault>urgent hauling default</FreeWillPriorityUrgentHaulingDefault>
  <FreeWillPriorityCleaningDefault>cleaning default</FreeWillPriorityCleaningDefault>
  <FreeWillPriorityPawnDowned>downed</FreeWillPriorityPawnDowned>
  <FreeWillPriorityOtherPawnsDowned>others downed</FreeWillPriorityOtherPawnsDowned>
  <FreeWillPriorityNeedTreatment>need treatment</FreeWillPriorityNeedTreatment>
  <FreeWillPriorityNeedTreatmentSelfTend>can self tend</FreeWillPriorityNeedTreatmentSelfTend>
  <FreeWillPriorityOthersNeedTreatment>others need treatment</FreeWillPriorityOthersNeedTreatment>
  <FreeWillPriorityPetsInjured>pets injured</FreeWillPriorityPetsInjured>
  <FreeWillPriorityPrisonersInjured>prisoners injured</FreeWillPriorityPrisonersInjured>
  <FreeWillPriorityFireInHomeArea>home on fire</FreeWillPriorityFireInHomeArea>
  <FreeWillPriorityFireOnMap>fire in the area</FreeWillPriorityFireOnMap>
  <FreeWillPriorityOperation>operation scheduled</FreeWillPriorityOperation>
  <FreeWillPriorityHealth>current health</FreeWillPriorityHealth>
  <FreeWillPriorityBuildingImmunity>building immunity</FreeWillPriorityBuildingImmunity>
  <FreeWillPriorityBored>bored</FreeWillPriorityBored>
  <FreeWillPriorityWasBored>was recently bored</FreeWillPriorityWasBored>
  <FreeWillPriorityRefueling>refueling required</FreeWillPriorityRefueling>
  <FreeWillPriorityFilthyCookingArea>dirty cooking area</FreeWillPriorityFilthyCookingArea>
  <FreeWillPriorityBestAtDoing>best at doing</FreeWillPriorityBestAtDoing>
  <FreeWillPrioritySomeoneMuchMuchMuchBetterAtDoing>{0} is amazing at this</FreeWillPrioritySomeoneMuchMuchMuchBetterAtDoing>
  <FreeWillPrioritySomeoneMuchMuchBetterAtDoing>{0} is great at this</FreeWillPrioritySomeoneMuchMuchBetterAtDoing>
  <FreeWillPrioritySomeoneMuchBetterAtDoing>{0} is much better at this</FreeWillPrioritySomeoneMuchBetterAtDoing>
  <FreeWillPrioritySomeoneBetterAtDoing>{0} is better at this</FreeWillPrioritySomeoneBetterAtDoing>
  <FreeWillPrioritySomeoneMuchMuchMuchBetterIsDoing>{0} is doing amazing at this</FreeWillPrioritySomeoneMuchMuchMuchBetterIsDoing>
  <FreeWillPrioritySomeoneMuchMuchBetterIsDoing>{0} is doing great at this</FreeWillPrioritySomeoneMuchMuchBetterIsDoing>
  <FreeWillPrioritySomeoneMuchBetterIsDoing>{0} is doing much better at this</FreeWillPrioritySomeoneMuchBetterIsDoing>
  <FreeWillPrioritySomeoneBetterIsDoing>{0} is doing better at this</FreeWillPrioritySomeoneBetterIsDoing>
  <FreeWillPriorityNoOneElseDoing>no one else doing</FreeWillPriorityNoOneElseDoing>
  <FreeWillPriorityInspired>inspired</FreeWillPriorityInspired>
  <FreeWillPriorityNotInHomeArea>not in home area</FreeWillPriorityNotInHomeArea>
  <FreeWillPriorityHungerLevel>hunger level</FreeWillPriorityHungerLevel>
  <FreeWillPriorityLowFood>low food</FreeWillPriorityLowFood>
  <FreeWillPriorityWeaponRange>weapon range</FreeWillPriorityWeaponRange>
  <FreeWillPriorityAteRawFood>ate raw food</FreeWillPriorityAteRawFood>
  <FreeWillPriorityOwnRoom>should clean my room</FreeWillPriorityOwnRoom>
  <FreeWillPriorityThingsDeteriorating>things deteriorating</FreeWillPriorityThingsDeteriorating>
  <FreeWillPriorityBlight>blight</FreeWillPriorityBlight>
  <FreeWillPriorityPruneGauranlenTree>gauranlen tree needs pruning</FreeWillPriorityPruneGauranlenTree>
  <FreeWillPriorityNeedWarmClothes>need warm clothes</FreeWillPriorityNeedWarmClothes>
  <FreeWillPriorityAnimalsRoaming>animals roaming</FreeWillPriorityAnimalsRoaming>
  <FreeWillPriorityBrawler>brawler</FreeWillPriorityBrawler>
  <FreeWillPriorityNoHuntingWeapon>no hunting weapon</FreeWillPriorityNoHuntingWeapon>
  <FreeWillPriorityCurrentlyDoing>continuing current task</FreeWillPriorityCurrentlyDoing>
  <FreeWillPriorityMovementSpeed>movement speed</FreeWillPriorityMovementSpeed>
  <FreeWillPriorityCarryingCapacity>carrying capacity</FreeWillPriorityCarryingCapacity>
  <FreeWillPrioritySkillLevel>skill level</FreeWillPrioritySkillLevel>
  <FreeWillPriorityExpectionsExceeded>superfluously clean</FreeWillPriorityExpectionsExceeded>
  <FreeWillPriorityExpectionsMet>clean enough</FreeWillPriorityExpectionsMet>
  <FreeWillPriorityExpectionsUnmet>a bit messy</FreeWillPriorityExpectionsUnmet>
  <FreeWillPriorityExpectionsLetDown>very messy</FreeWillPriorityExpectionsLetDown>
  <FreeWillPriorityExpectionsIgnored>mess everywhere</FreeWillPriorityExpectionsIgnored>
  <FreeWillPriorityBeautyDefault>beauty default</FreeWillPriorityBeautyDefault>
  <FreeWillPriorityMajorPassionFor>major passion for {0}</FreeWillPriorityMajorPassionFor>
  <FreeWillPriorityMinorPassionFor>minor passion for {0}</FreeWillPriorityMinorPassionFor>
  <FreeWillPriorityApathyPassionFor>apathetic</FreeWillPriorityApathyPassionFor>
  <FreeWillPriorityNaturalPassionFor>natural passion for</FreeWillPriorityNaturalPassionFor>
  <FreeWillPriorityCriticalPassionFor>critical passion for</FreeWillPriorityCriticalPassionFor>
  <FreeWillPriorityMinorAversionTo>minor aversion to</FreeWillPriorityMinorAversionTo>
  <FreeWillPriorityMajorAversionTo>major aversion to</FreeWillPriorityMajorAversionTo>
  <FreeWillPriorityCompulsiveItch>itching to do</FreeWillPriorityCompulsiveItch>
  <FreeWillPriorityCompulsiveNeed>needing to do</FreeWillPriorityCompulsiveNeed>
  <FreeWillPriorityCompulsiveObsession>obsessed with</FreeWillPriorityCompulsiveObsession>
  <FreeWillPriorityCompulsiveDemand>demand to do</FreeWillPriorityCompulsiveDemand>
  <FreeWillPriorityCompulsiveWithdrawl>in withdrawal from</FreeWillPriorityCompulsiveWithdrawl>
  <FreeWillPriorityCompulsiveYearning>yearning to do</FreeWillPriorityCompulsiveYearning>
  <FreeWillPriorityCompulsiveTantrum>tantrum over</FreeWillPriorityCompulsiveTantrum>
  <FreeWillPriorityCompulsiveHysteria>hysterical about</FreeWillPriorityCompulsiveHysteria>
  <FreeWillPriorityInvigorating>invigorated by</FreeWillPriorityInvigorating>
  <FreeWillPriorityBoredBy>bored by</FreeWillPriorityBoredBy>
  <FreeWillPriorityReactionInitial>allergic symptoms from</FreeWillPriorityReactionInitial>
  <FreeWillPriorityReactionItching>itching from</FreeWillPriorityReactionItching>
  <FreeWillPriorityReactionSneezing>sneezing from</FreeWillPriorityReactionSneezing>
  <FreeWillPriorityReactionSwelling>swelling from</FreeWillPriorityReactionSwelling>
  <FreeWillPriorityReactionAnaphylaxis>can't breath from</FreeWillPriorityReactionAnaphylaxis>
  <FreeWillPriorityNoReaction>no allergic symptoms from</FreeWillPriorityNoReaction>
  <FreeWillPriorityNoFreeWill>no free will</FreeWillPriorityNoFreeWill>
  <FreeWillPriorityColonyPolicy>colony policy</FreeWillPriorityColonyPolicy>

</LanguageData>